.home-container {
  display: flex;
  margin-left: 20%;

  .text-field {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active
    {
      -webkit-box-shadow: 0 0 0 30px #222222 inset !important;
      -webkit-text-fill-color: white !important;
    }

    .MuiInputLabel-outlined {
      color: white;
    }

    .MuiOutlinedInput-root {
      color: white;
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: white;
    }

    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: orange;
    }
  }

  .left-section-container {
    padding: 20px;
    align-self: flex-start;

    .logout-btn {
      margin-bottom: 10px;
    }
  }

  .mid-section-container {
    width: 50%;
    min-height: 100vh;
    padding: 20px 20px 0 20px;
    border-left: 1px white solid;
    border-right: 1px white solid;

    .title {
      align-self: flex-start;
      color: orange;
      font-size: 30px;
      margin-top: 30px;
    }

    .posts-create-and-list {

      .create-post-form {
        display: flex;
        flex-direction: column;

        .text-field {
          margin: 20px;
        }

        .submit-btn {
          margin-top: 20px;

          &.MuiButton-containedPrimary {
            background-color: orange;
          }
        }
      }

      .posts-container {
        padding-bottom: 20px;
      }
    }
  }

  .right-section-container {
    display: flex;
    flex-direction: column;

    .text-field {
      margin: 10px 5px 0 5px;

      .MuiIconButton-root {
        color: white;
      }
    }

    .selected-user-to-follow {
      padding: 10px 10px 0 20px;
      color: white;
      display: flex;
      align-items: center;

      .user-selected {
        cursor: pointer;
      }

      .follow-btn {
        margin-left: 10px;

        &.MuiButton-containedPrimary {
          background-color: orange;
        }
      }
    }

    .followed-list {
      margin: 10px 0 0 10px;
      color: white;
      border: 1px solid white;
      padding: 10px;

      .followed-user-item {
        display: flex;
        margin-top: 10px;
        align-items: center;

        .follow-btn {
          margin-left: 10px;

          &.MuiButton-containedPrimary {
            background-color: orange;
          }
        }
      }
    }
  }
}

