.chat-box-container {
  position: relative;

  .chat-close-icon {
    color: white;
    position: absolute;
    right: 9px;
    top: 9px;
    cursor: pointer;
  }

  .chat-title {
    color: white;
    position: absolute;
    left: 20px;
    top: 10px;
    cursor: pointer;
  }
}
