.post-container {
  margin-top: 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  &.MuiPaper-root {
    background-color: #757575;
    color: white;

    .MuiTypography-colorTextSecondary {
      color: #dadada;
    }
  }

  .header {
    margin-top: 10px;
  }

  .content {
    margin-top: 10px;
  }

  .footer {
    margin-top: 10px;
    width: 100%;

    .MuiIconButton-root {
      color: #b1b1b1;
    }

    .delete-post-btn {
      margin-left: auto;
      margin-right: 20px;
    }
  }
}
